/*
Rosa carmin: EA5548
Marron Dulce: A62E36
Naranja persa: D49D59
Verde Musgo claro: BACEAC
Verde Mogol: 2B5527
*/

html{
  font-family: 'Nunito', sans-serif;
}

a{
  text-decoration: none;
  color: #D49D59;
}

a:hover{
  opacity: 0.2;
}

a:active{
  background: green;
}
.title{
  text-transform: uppercase;
  text-align: center;
}
.container{
background: #403A3E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BE5869, #403A3E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BE5869, #403A3E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}
.content{
  max-width: 960px;
  width: 100%;
  height: 80vh;
  background-color: white;
  /*box-shadow: diferenciaHorizontal diferenciaVertical desenfoque amplitud color;*/
  box-shadow: 0 10px 7px rgba(0,0,0,0.16),0 5px 7px rgba(0,0,0,0.23);
  border-radius: 4px;
  position: relative;
  padding: 1.8em;
  overflow:scroll;

}
.actions{
  position: absolute;
  top: 1em;
  right: 1em;
}
.close{
  height: 40px;
  width: 40px;
  color:white;
  border-radius: 50%;
  background-color: #EA5548;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paragraph{
  line-height: 1.8em;
  font-weight: 300;
}
.fa-star{
  color: #2B5527;
}
.table{
  width: 100%;
  border-spacing: 0;
}

.table td, .table th{
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even){
  background-color: #BACEAC;
  
}

.title-items{
  /*border-bottom-style: solid;
  border-width: 2px;
  border-color: #2B5527;*/
  font-size: 2em;
  border-bottom: #BE5869 solid 2px;
  padding-bottom: 1em;
}

.address{
  font-weight:bold;
   color:#EA5548;
   font-size: 1.2em;
   margin-top: 2em;
   display:inline-block;
}

.main-image{
  float: left;
  margin-right: 1em;
  height: 250px;
}
.position{
  background-color: #BE5869;
  color: white;
  padding: 0.5em;
  border-radius: 4px;
  margin-right: 0.5em;
}

@media(max-width:600px){
  .content{
    padding: 1em;
  }
  td{
    display: block;
    width: 100%;
  }
  td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    background-color: #BE5869;
    color: white;
  }
  th{
    display: none;
  }
}
@media(min-height:550px){
  .content{
    height: 500px;
  }
}
